<% hide_profile_image ||= false %>
<% show_post_link ||= false %>

<% @comments.each do |comment| %>
  <div class="well span6 comments">
    <% unless hide_profile_image %>
      <%= link_to gravatar_for(comment.creator, size: 35),
                                user_path(comment.creator) %>
    <% end %>
    
    <% if current_user == comment.creator %>
      <%= render "shared/edit_delete_links", obj: comment, comment: true %>
    <% end %>
    
    <em>"<%= comment.body %>"</em>
    <br/><br/>
    
    <p class="comment-info">
      <%= link_to comment.creator.username, user_path(comment.creator), 
                                                      class: "username" %>
      <% if show_post_link %>
        <span class="post">  
          commented on post <%= link_to comment.post.title, 
                                    post_path(comment.post),
                                    class: "post-link" %>
        </span>
      <% end %>
      
      - <%= time_ago_in_words(comment.created_at) %>
    </p>
    
    <p><%= render "shared/user_votes", obj: comment, comment: true %></p>
  </div>
<% end %>