<% hide_password_fields ||= false %>

<div class="well span5 user">
  <div class="new-edit">
    <%= form_for @user do |f| %>
      <div class="control-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class: "username" %>
      </div>
      
      <% unless hide_password_fields %>
        <div class="control-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "password" %>
        </div>
        
        <div class="control-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "password" %>
        </div>
      <% end %>
      
      <div class="control-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "email" %>
      </div>
      
      <div class="control-group">
        <%= f.label :time_zone %>
        <%= f.collection_select :time_zone,
                                ActiveSupport::TimeZone.us_zones.reverse,
                                :name, :to_s, prompt: true %>
      </div>
      <br/>
      <div class="control-group">
        <%= f.check_box :two_factor, class: "pull-left two-factor" %>
        <%= f.label :two_factor, "Enable Two-Factor Authentication" %>
      </div>
      
      <div class="control-group">
        <%= f.text_field :phone, placeholder: "10 Digit Mobile Number",
                                 id: "creator-phone",
                                 class: "phone" %>
      </div>
      
      <%= f.submit user_btn_text(@user), class: "btn btn-small btn-primary" %>
      
      <%= link_to "Cancel", user_path(@user),
                              class: "btn btn-small" if hide_password_fields %>
    <% end %>
  </div>
</div>