<% hide_profile_image ||= false %>

<div class="post">
  <% @posts.each do |post| %>
    <div class='well span8 list'>
      <% unless hide_profile_image %>
        <%= link_to gravatar_for(post.creator, size: 50), 
                                  user_path(post.creator) %>
      <% end %>
      <%= link_to post.title, post_path(post), class: 'title' %>
      <%= render 'categories/category_tags', post_obj: post %>
      <br/>
      <span class="title-info">
        Posted by: <%= link_to author_name(post), user_path(post.creator),
                                                            class: 'name' %> - 
        <%= time_ago_in_words(post.created_at) %> ago
      </span>
      <% if current_user == post.creator %>
        <div class='row'>
          <%= link_to 'Delete', post, method: 'delete',
                          confirm: 'Are you sure you want to delete this post?',
                          class: 'btn btn-mini btn-danger pull-right' %>
          <%= link_to 'Edit', edit_post_path(post), 
                          class: 'btn btn-mini btn-info pull-right' %>
        </div>
      <% end %>
      <hr/>
      <%= post.description %>
      <br/><br/>
      
      <%= render 'shared/user_votes', obj: post %>
      <span class='vote-comment-space'></span>
      <%= link_to pluralize(post.comments.size, "Comment"), post_path(post),
                                                      class: 'btn btn-mini' %>
    </div>
  <% end %>
</div>