<div class="well span8 post">
  <div class="new-edit">
    <%= form_for @post do |f| %>
      <div class="control-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "title" %>
      </div>
      
      <div class="control-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: "url" %>
      </div>
      
      <div class="control-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "description" %>
      </div>
      
      <div class="control-group">
        <%= f.label :categories %>
        <%= f.collection_check_boxes :category_ids, nav_categories,
                                                      :id, :name do |ctg| %>
          <%= ctg.label(class: "checkbox inline") { 
                              ctg.check_box(class: "checkbox") + ctg.text } %>
        <% end %>
      </div><br/>
      
      <%= f.submit (post_btn_text(@post)), class: "btn btn-small btn-primary" %>
      <%= link_to "Cancel", :back, class: "btn btn-small" unless @post.new_record? %>
    <% end %>
  </div>
</div>