<div class='span8 post'>
  <div class='page-title'>
    <span class='title'><%= @post.title %></span>
    <%= link_to 'Delete', @post, method: 'delete',
                        confirm: 'Are you sure you want to delete this post?',
                        class: 'btn btn-mini btn-danger pull-right' %>
    <%= link_to 'Edit', edit_post_path(@post), 
                        class: 'btn btn-mini btn-info pull-right' %>
    <br/><br/>
    <div class='title-info'>
      Website: <%= link_to @post.url, fix_external_url(@post.url), 
                                      target: "_blank", class: 'url' %>
      <br/>
      By: <%= link_to @post.creator.username.upcase, '#', class: 'name' %>
      <span class='date'>
        <%= format_date(@post) %>
      </span>
      <%= render 'categories/category_tags', post_obj: @post %>
    </div>
    <hr/>
  </div>

  <div class='page'>
    <%= @post.description %>
    <hr/>
    
    <%= render 'comments/comment_form' %>
      
    <h5>Comments:</h5>
    <% if !@comments.nil? %>
      <% @comments.each do |comment| %>
        <div class='well span6'>
          <%= link_to 'Delete', post_comment_path(@post, comment), 
                        method: 'delete',
                        confirm: 'Are you sure you want to delete this post?',
                        class: 'btn btn-mini btn-danger pull-right' %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment), 
                        class: 'btn btn-mini btn-info pull-right' %>
          <em>"<%= comment.body %>"</em>
          <p class='comment-info'>
            <%= link_to comment.creator.username, '#', class: 'name' %> - 
            <%= time_ago_in_words(comment.created_at) %> ago
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>