<%= render 'shared/content_title', title: 'New Category' %>

<%= render 'shared/errors', obj: @category %>

<div class='well span5 category'>
  <div class='new'>
    <%= form_for @category do |f| %>
      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'name' %>
      </div>
    
      <%= f.submit 'Create Category', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>