<%= link_to image_tag("postit-logo.png", size: '30'), root_path, id: "logo" %>
<ul class="nav">
  <div class="btn-group nav-item">
    <%= link_to "#", class: "btn btn-small dropdown-toggle", 
                            "data-toggle" => "dropdown" do %>
      Categories <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% nav_categories.each do |ctg| %>
        <li><%= link_to ctg.name, category_path(ctg) %></li>
      <% end %>
    </ul>
  </div>
</ul>
<% if logged_in? %>
  <ul class="nav pull-right">
    <div class="btn-group nav-item">
      <%= link_to "#", class: "btn btn-small dropdown-toggle", 
                              "data-toggle" => "dropdown" do %>
        <%= current_user.username %> <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="icon-pencil"></i>
            Edit Profile
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="icon-user"></i>
            View Profile
          <% end %>
        </li>
        <li>
          <%= link_to logout_path do %>
            <i class="icon-circle-arrow-left"></i>
            Logout
          <% end %>
        </li>
      </ul>
    </div>
    <div id="nav-new-post" class="nav-item">
      <li>
        <%= link_to "New Post", new_post_path, class: "btn btn-small btn-primary" %>
      </li>
    </div>
  </ul>
<% else %>
  <ul class="nav pull-right">  
    <div id="nav-register" class="nav-item">
      <li>
        <%= link_to "Register", register_path, class: "btn btn-small btn-primary" %>
      </li>
    </div>
    <div id="nav-login" class="nav-item">
      <li>
        <%= link_to "Login", login_path, class: "btn btn-small" %>
      </li>
    </div>
  </ul>
<% end %>